<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
   
    <!-- Css -->
    <link rel="stylesheet" href="../static/Style/estilos.css">


    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/675374964f.js" crossorigin="anonymous"></script>

<!--     <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class="navbar-brand" class="foto-logo" id="logo" src="../static/img/logo.jpg" alt="Logotipo">
        <h1 class="navbar-brand">Ivan Suiyama Silva</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/Projeto">Projetos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Estudo">Formação Academica</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Sobre">Sobre mim</a>
                </li>
            </ul>
        </div>
    </nav> -->
    <title>Meu portifolio</title>

{% block head %}

{% endblock %}
</head>


<body>
        <!-- Barra de navegação -->
        <header>
            <nav class="navbar">
                <div class="logo">
                   <img class="foto-logo" src="../static/img/logo-oficial-ivan.JPG" alt="logo">
                </div>
    {% block body%}

            
            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a href="{{url_for('https://ivan-portifolio2-0.onrender.com.Estudos')}}" class="nav-link">Estudos</a></li>
                    <li class="nav-item"><a href="{{url_for('https://ivan-portifolio2-0.onrender.com.Projetos')}}" class="nav-link">Projetos</a></li>
                    <li class="nav-item"><a href="{{url_for('https://ivan-portifolio2-0.onrender.com.Sobre')}}" class="nav-link">Sobre</a></li>
                </ul>
            </div>
            <div class="mobile-menu-icon">
                <button onclick="menuShow()" > <img class="icon" src="../static/img/menu_white_36dp.svg" alt=""></button>

            </div>

        </nav>
     
        <div class="mobile-menu">
            <ul>
                <li class="nav-item"><a href="/Estudo" class="nav-link">Estudos</a></li>
                <li class="nav-item"><a href="/Projeto" class="nav-link">Projetos</a></li>
                <li class="nav-item"><a href="/Sobre" class="nav-link">Sobre</a></li>
            </ul>

        </div>
        
    </header>
    <script src="../static/Style/script.js"></script>
    <section class="jumbotron text-center">
        <div class="container">
   
            <img class="foto-Perfil"  src="../static/img/fpf.jpg" alt="Foto Perfil">
            <h1 class="jumbotron-heading titulos">Ivan Suiyama Silva</h1>
            <p class="lead text-muted fontes">Tecnológo em Manufatura Avançada, Cursando Tecnológo em
                Desenvolvimento de Software Multiplataforma </p>
            <p class="lead text-muted fontes">
            <h2>ivan.suiya@gmail.com</h2><br>
            <h2>(12) 996110851 </h2>
            </p>
            <a href="https://www.instagram.com/ivansuiyama/"><i class="fab fa-instagram"></i></a>
            <a href="https://github.com/IvanSuiyama"><i class="fab fa-github"></i></a>
    
        </div>
    </section>
</div>
    
    {% endblock %}
   

</body>
</html>

