{% extends "index.html" %}


{% block body%}

        
<div class="nav-list">
    <ul>
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/Projeto" class="nav-link">Projetos</a></li>
        <li class="nav-item"><a href="/Sobre" class="nav-link">Sobre</a></li>
    </ul>
</div>
<div class="mobile-menu-icon">
    <button onclick="menuShow()" > <img class="icon" src="../static/img/menu_white_36dp.svg" alt=""></button>

</div>

</nav>

<div class="mobile-menu">
<ul>
    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
    <li class="nav-item"><a href="/Projeto" class="nav-link">Projetos</a></li>
    <li class="nav-item"><a href="/Sobre" class="nav-link">Sobre</a></li>
</ul>

</div>


</header>
<script src="../static/Style/script.js"></script>
    
<section class="jumbotron text-center">
<h2 class="jumboltron-heading text-center titulos">Formação Academica</h2><br>
<div class="container">
    <div class="row">
        

        <div class="col-lg-4">
            
            <h2 class="fontes-academicas fontes">Tecnologo em Desenvolvimento de Software Multiplataforma</h2>
            <p >Esse curso aborda tecnólogias atuais e prepara seus alunos para o mercado de trabalho atravéz de
                projetos integradores</p>
            <p><a class="btn btn-outline-success"
                    href="https://fatecsjc-prd.azurewebsites.net/curso-desenvolvimento-de-software-multiplataforma.php"
                    role="button">Cursando</a></p>
        </div>
        
        <div class="col-lg-4">
            
            <h2 class="fontes-academicas fontes">Tecnologo em Manufaura Avançada</h2>
            <p >Esse curso aborda Conceitos e praticas atuais e prepara seus alunos para o mercado de trabalho
                atravéz de projetos interdisciplinaes (DIP)</p>
            <p><a class="btn btn-outline-success"
                    href="https://fatecsjc-prd.azurewebsites.net/curso-manufatura-avancada.php" role="button">Completo</a></p>
        </div>
        <div class="col-lg-4">
            
            <h2 class="fontes-academicas fontes">Tecnico em Informática </h2>
            <p>Esse curso aborda Conceitos e praticas basicas e introsutorias para o mundo da programação</p>
            <p><a class="btn btn-outline-success"
                    href="https://etecmachadodeassis.com/" role="button">Completo</a></p>
        
        </div>
    </div>
</div>
</section>

{% endblock %}