{% extends "index.html" %}



{% block body %}

        

<div class="nav-list">
    <ul>
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/Estudo" class="nav-link">Estudos</a></li>        
        <li class="nav-item"><a href="/Sobre" class="nav-link">Sobre</a></li>
    </ul>
</div>
<div class="mobile-menu-icon">
    <button onclick="menuShow()" > <img class="icon" src="../static/img/menu_white_36dp.svg" alt=""></button>

</div>

</nav>

<div class="mobile-menu">
<ul>
    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
    <li class="nav-item"><a href="/Estudo" class="nav-link">Estudos</a></li>    
    <li class="nav-item"><a href="/Sobre" class="nav-link">Sobre</a></li>
</ul>

</div>
</header>
<script src="../static/Style/script.js"></script>

<div class="album py-5 bg-light" id="projetos">
    <div class="container">
        <h2 class="jumboltron-heading text-center titulos">Projetos</h2><br>

        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                        data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="../static/img/ms.jpg"
                        data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text">Este projeto consiste no modulo de entrada do sistema de segurança da
                            celula de manufatura da fatec</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                        data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="../static/img/app.jpg"
                        data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text">Este projeto consiste no aplicativo para monitorar o sistema de
                            segurança da
                            celula de manufatura da fatec</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


