{% extends "index.html" %}

    

{% block body %}
<header>
    <nav class="navbar">
        <div class="logo">
           <img class="foto-logo" src="../static/img/logo.jpg" alt="">
        </div>
        

<div class="nav-list">
    <ul>
        <li class="nav-item"><a href="/ " class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/Estudo" class="nav-link">Estudos</a></li>
        <li class="nav-item"><a href="/Projeto" class="nav-link">Projetos</a></li>        
    </ul>
</div>
<div class="mobile-menu-icon">
    <button onclick="menuShow()" > <img class="icon" src="../static/img/menu_white_36dp.svg" alt=""></button>

</div>

</nav>

<div class="mobile-menu">
<ul>
    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
    <li class="nav-item"><a href="/Estudo" class="nav-link">Estudos</a></li>
    <li class="nav-item"><a href="/Projeto" class="nav-link">Projetos</a></li>    
</ul>

</div>
<script src="../static/Style/script.js"></script>



    

    <!-- Sobre mim -->
    <section class="jumbotron text-center" id="sobre">
        <div class="container">
            <h2 class="jumbtron heading titulos">Sobre mim</h2>
            <p class="lead" class="text-Justify">
                Eu sou o Ivan tenho 21 anos solteiro, tenho perfil de liderança sou determinado e estou dempre disposto a aprender novas tecnologias. 
                Tenho facilidade em explicar e ensinar meus colegas, sempre ajudo a todos quando eu 
                posso. Atualmente estou cursando tecnologo em desenvolvimento de software
                multiplataforma e procurando emprego nessa area. No meu tempo livre gosto de programar e
                estou sempre com a cabeça em movimento, gosto de jogar jogos online no meu celular e de escutar musicas.
            </p>
           
        </div>
    </section>

{% endblock %}